{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}
{% block content %}

<h2 class="display-2 col-12">Edit Post</h2>
<div class="row-mb-8 mx-auto">
  <form action="/posts/{{post.id}}/edit" method="POST" class="row-4 mx-auto">

    <div class="col-mb-6 form-group">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control">
    </div>

    <div class="col-mb-6 form-group">
      <label for="content" class="form-label">Content</label>
      <textarea name="content" class="form-control"></textarea>
    </div>

    <button class="btn btn-success col-lg-mb mt-3">Save</button>
    <a class="btn btn-outline-primary col-mb-12 mt-3" href="/users/{{post.user_id}}">Cancel</a>

  </form>

  <div class="form-check row-mb-6 mx-auto mt-3">
    {% for tag in tags %}
    <div>
      <input
        class="form-check-input"
        type="checkbox"
        {% if tag in post.tags %}checked{% endif %}
        name="tags"
        value="{{ tag.id }}"
        id="tag_{{ tag.id }}"
        aria-label="Checkbox for tags">
      <label class="form-check-label" for="tag_{{ tag.id }}">{{tag.name}}</label>
    </div>

    {% endfor %}

</div>

{% endblock %}
