{% extends 'base.html' %}
{% block title %}User details{% endblock %}
{% block content %}

<h2 class="display-2 col-12">{{user.full_name}} Details</h2>
<div class="row-4 mx-auto">
  <ul class="row list-group">
    <li class="list-group-item">ID: {{user.id}}</li>
    <li class="list-group-item">First Name: {{user.first_name}}</li>
    <li class="list-group-item">Last Name: {{user.last_name}}</li>
    <li class="list-group-item">Image:
      <br>
      <img width="300px'" src="{{user.image_url}}">
    </li>
  </ul>
  <a class="btn btn-primary mt-3 col-mb-12" href="/users/{{user.id}}/edit">Edit User</a>
  <a class="btn btn-danger mt-3 col-mb-12" href="/users/{{user.id}}/delete">Delete User</a>


<h3 class="display-3 mt-4">Posts</h3>
  <ul class="col list-group">
    {% for post in user.posts %}
    <li class="list-group-item">
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </li>
    {% endfor %}
  </ul>
  <a class="btn btn-primary mt-3 col-mb-12" href="/users/{{user.id}}/posts/new">Add Post</a>
</div>


{% endblock %}